@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

body {
	background: url('./bg.jpg') no-repeat center fixed;
	background-size: cover;
	font-family: 'Cascadia Code', sans-serif;
	font-size: 20px;
	box-sizing: border-box;
}

.main-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 5px;
	max-width: 800px;
	margin: auto;
}

.card {
	display: grid;
	align-items: center;
	align-content: center;
	justify-items: center;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	color: #fff;
	padding: 10px;
	box-sizing: border-box;
}

.card:hover {
	backdrop-filter: blur(20px);
}

.title {
	grid-row: span 3;
	text-align: center;
}

.title:hover {
	cursor: default;
}

.title img {
	width: 200px;
	border-radius: 100%;
}

.profile {
	text-align: center;
}

.profile img {
	width: 40px;
}

.skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-items: center;
	align-items: center;
	padding-top: 20px;
	gap: 20px;
}

.skill-icon {
	width: 60px;
}

.about,
.projects,
.articles,
.researches,
.contacts {
	grid-column: 1/3;
}

.about-heading,
.projects-heading,
.project-heading,
.articles-heading,
.article-heading,
.researches-heading,
.research-heading,
.contacts-heading {
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.about-paragraph {
	padding: 20px;
}

.projects-list,
.articles-list,
.researches-list {
	display: grid;
	align-items: center;
	justify-items: center;
	gap: 2px;
}

.project,
.article,
.research {
	display: grid;
	align-items: center;
	justify-items: center;
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	width: 75vw;
	max-width: 700px;
	padding: 10px;
	text-align: center;
}

.project:hover,
.article:hover,
.research:hover {
	background: rgba(0, 0, 0, 0.5);
}

.project-image,
.article-image,
.research-image {
	width: 100%;
	max-width: 400px;
}

a {
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.contacts-list {
	text-align: center;
}

.hide {
	display: none;
}